# Environnements virtuels
.venv/
F_DS_02_env/
env/

# Données
data/

# Fichiers temporaires Python
*.pyc
__pycache__/
.ipynb_checkpoints/

# Fichiers IDE/Editor
.vscode/
.idea/
*.swp

# Video
video/Dashboard_Tableau.mp4

# Logs/Outputs
*.log
output/

# Tests
scripts/
test.py